{% extends 'store/base.html' %}
{% block content %}
<h2>Welcome to the Store!</h2>
<h2>Products</h2>

{% if request.GET.q %}
  <p>Showing results for "{{ request.GET.q }}"</p>
{% endif %}

{% if products %}
 <div class="row">
  {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100">
        {% if product.image %}
          <img src="{{ product.image_url }}" class="card-img-top" style="height: 200px; object-fit: contain; background-color: whitesmoke; padding: 10px;">
        {% endif %}
        <div class="card-body bg-white">
          <h5 class="card-title text-primary">{{ product.name }}</h5>
          <p class="card-text text-muted">{{ product.description|truncatechars:100 }}</p>
          <p class="card-text"><strong class="text-success">₦{{ product.price|floatformat:2 }}</strong></p>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary btn-sm">View</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% else %}
  <p>No products available.</p>
{% endif %}
{% endblock %}
